<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="panel panel-default">
        <div class="panel-heading" style="display: flex; justify-content:space-between">
            <div>
                <div th:text="${post.getAuthor().getEmail()}" style="font-size: 14px">

                </div>
                <div th:text="${#temporals.format(post.createdDateTime, 'yyyy-MM-dd HH:mm:ss')}" style="font-size: 12px; color:#ccc">

                </div>
            </div>
            <div>
                <a th:href="@{/posts/{id}/edit (id=${post.id})}" >수정</a>
                <a th:href="@{/posts/{id}/delete (id=${post.id})}" >삭제</a>
            </div>
        </div>
        <div class="panel-body">
            <h2 class="panel-title" th:text="${post.title}"></h2>
            <hr/>
            <article class="content-text" th:utext="${post.content}"></article>
        </div>
    </div>
    <div class="panel panel-default clearfix">
        <ul class="list-group">
            <li class="list-group-item note-title">
                <h3 class="panel-title">댓글</h3>
            </li>
            <li th:each="comment : ${post.comments}" class="list-group-item clearfix" style="padding: 0">
                <div class="panel panel-default">
                    <div class="panel-heading" style="display: flex; justify-content:space-between">
                        <div>
                            <div th:text="${comment.getAuthor().getEmail()}" style="font-size: 14px">

                            </div>
                            <div th:text="${#temporals.format(comment.createdDateTime, 'yyyy-MM-dd HH:mm:ss')}" style="font-size: 12px; color:#ccc">

                            </div>
                        </div>
<!--                        <div>-->
<!--                            <a th:href="@{/posts/{id}/edit (id=${post.id})}" >수정</a>-->
<!--                            <a th:href="@{/posts/{id}/delete (id=${post.id})}" >삭제</a>-->
<!--                        </div>-->
                    </div>
                    <div class="panel-body">
                        <article th:text="${comment.content}"></article>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="panel-body" sec:authorize-expr="!isAuthenticated()">
                    <h5 class="text-center"><a href="/user/login">로그인</a>을 하시면 댓글을 등록할 수 있습니다.</h5>
                </div>
                <div class="panel-body" sec:authorize-expr="isAuthenticated()">

                    <div>
                        <div th:text="${#authentication.name}" style="font-size: 14px">
                        </div>
                    </div>
                    <form th:action="@{/posts/{postsId}/comments/new (postsId=${post.id})}" th:object="${form}" method="post">


                        <div class="form-group">
                            <textarea th:field="*{content}" class="form-control" rows="3" cols="50" placeholder="댓글쓰기"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>
            </li>
        </ul>
    </div>
    <br/>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>