<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="content-wrapper">
    <div class="container">
        <form th:action="@{/posts/new}" th:object="${postForm}" method="post">

            <div class="form-group"><label th:for="name">제목</label>
                <input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력하세요"
                       th:class="${#fields.hasErrors('title')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color:red">Incorrect date</p>
            </div>

            <div class="form-group"><label th:for="content">본문</label>
                <textarea th:id="content" th:field="*{content}" class="form-control" rows="15" cols="50" placeholder="본문을 입력하세요"
                          th:class="${#fields.hasErrors('content')}? 'form-control fieldError' : 'form-control'"></textarea>
                <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" style="color:red">Incorrect date</p>
            </div>
            <button type="submit" class="btn btn-primary">작성</button>
        </form>
        <br/>
    </div> <!-- /container -->
</div>

<div th:replace="fragments/footer :: footer"/>
<script src="/js/ckeditor/ckeditor.js"></script>
<script type="text/javascript" th:inline="javascript">
        CKEDITOR.replace("content",{
        imageUploadUrl: "/image/upload"
        //uploadUrl:"/image/drag"
        //filebrowserUploadUrl: "/image"
        });
 </script>
</body>
</html>