<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="content-wrapper">
    <div class="container content">
        <div class="card" style="margin-bottom: 30px">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <div th:text="${post.author}" style="font-size: 14px"></div>
                    <div th:text="${#temporals.format(post.createdDateTime, 'yyyy-MM-dd HH:mm:ss')}" style="font-size: 12px; color:#ccc"></div>
                </div>
                <div >
                    <span>
                        <i class="fas fa-heart" th:if="${isLike}"></i>
                        <i class="far fa-heart" th:unless="${isLike}"></i>
                        <span th:text="${post.likeCount}"> </span>
                    </span>
                    <div th:if="${post.author.equals(user)}">
                        <a style="font-size: 14px" th:href="@{/posts/{id}/edit (id=${post.id})}" >수정</a>
                        <a style="font-size: 14px" th:href="@{/posts/{id}/delete (id=${post.id})}" >삭제</a>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <h2 class="panel-title" th:text="${post.title}"></h2>
                <hr/>
                <article class="content-text" th:utext="${post.content}"></article>
                <div class="text-center">
                    <form th:action="@{/posts/{postsId}/like (postsId=${post.id})}"  method="post">
                        <input type="hidden" th:name="postId" th:value="${post.id}">
                        <button type="submit" class="btn btn-primary">Like</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="panel-title">댓글</h3>
            </div>
            <ul class="list-group list-group-flush">

                <li th:each="comment : ${comments}" class="list-group-item" style="padding: 0" th:with="level_padding = ${comment.level*10}">
                    <div  style="padding: 10px;" th:style="${'padding-left:' + level_padding + 'px;'}" >
                        <div style="display: flex; justify-content:space-between" >
                            <div>
                                <div th:text="${comment.author}" style="font-size: 14px">

                                </div>
                                <div th:text="${#temporals.format(comment.createdDateTime, 'yyyy-MM-dd HH:mm:ss')}" style="font-size: 12px; color:#ccc">

                                </div>
                            </div>
                            <!--                        <div>-->
                            <!--                            <a th:href="@{/posts/{id}/edit (id=${post.id})}" >수정</a>-->
                            <!--                            <a th:href="@{/posts/{id}/delete (id=${post.id})}" >삭제</a>-->
                            <!--                        </div>-->
                        </div>
                        <div>
                            <article th:text="${comment.content}"></article>
                            <div class="accordion"  id="accordionExample">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"  aria-expanded="false" aria-controls="collapse"
                                             th:attr="data-target=|#collapse${comment.id}|">
                                        답글달기
                                    </button>
                                </h2>
                                <div th:id="'collapse' + ${comment.id}" id="collapse" class="collapse" aria-labelledby="heading" data-parent="#accordionExample">
                                    <div style="padding:10px;">
                                        <form th:action="@{/posts/{postsId}/comments/new (postsId=${post.id})}" th:object="${commentSaveForm}" method="post">
                                            <div class="form-group">
                                                <input type="hidden" th:name="commentId" th:value="${comment.id}">
                                                <textarea th:field="*{content}" class="form-control" rows="3" cols="50" placeholder="댓글쓰기"
                                                          th:class="${#fields.hasErrors('content')}? 'form-control fieldError' : 'form-control'"></textarea>
                                                <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" style="color:red">Incorrect date</p>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="card-body" sec:authorize-expr="!isAuthenticated()">
                        <h5 class="text-center"><a href="/user/login">로그인</a>을 하시면 댓글을 등록할 수 있습니다.</h5>
                    </div>
                    <div class="card-body" sec:authorize-expr="isAuthenticated()">

                        <div>
                            <div th:text="${#authentication.name}" style="font-size: 14px">
                            </div>
                        </div>
                        <form th:action="@{/posts/{postsId}/comments/new (postsId=${post.id})}" th:object="${commentSaveForm}" method="post">


                            <div class="form-group">
                                <textarea th:field="*{content}" class="form-control" rows="3" cols="50" placeholder="댓글쓰기"
                                          th:class="${#fields.hasErrors('content')}? 'form-control fieldError' : 'form-control'"></textarea>
                                <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" style="color:red">Incorrect date</p>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>

                    </div>
                </li>
            </ul>
        </div>
<!--        <div class="panel panel-default clearfix">-->
<!--           -->
<!--        </div>-->
        <br/>
    </div> <!-- /container -->
</div>
<div th:replace="fragments/footer :: footer"/>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
        function writeReply() {

        }
    /*]]> */
</script>
</body>
</html>