<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="content-wrapper">
    <div class="container">
        <div class="card auth-form mx-auto">
            <div class="card-body">
                <h2 class="text-center">Sign Up</h2>
                <form th:action="@{/user/sign-up}" method="post">
                    <div class="form-group"><label th:for="email">Email</label>
                        <input type="email" class="form-control" th:name="email" placeholder="user@gmail.com">
                    </div>

                    <div class="form-group"><label th:for="password">Password</label>
                        <input type=password class="form-control" th:name="password">
                    </div>
                    <div class="container" style="display: inline-block; text-align: center; padding-bottom: 10px;">
                        <button type="submit" class="btn btn-primary" >Sign up</button>
                    </div>
                </form>
            </div>
        </div>


    </div> <!-- /container -->
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>