<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>MyBoard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<div class="content-wrapper">
    <div class="container">

        <table class="table table-hover">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>날짜</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>as</td>
                <td>dfa</td>
                <td>2020-02-02</td>
                <td>100</td>
            </tr>
            <tr th:each="post : ${posts}">

                <td th:text="${post.id}"></td>
                <td>
                    <a th:href="@{/posts/{id} (id=${post.id})}"  th:text="${post.title}"></a>
                </td>
                <td th:text="${post.getAuthor().getEmail()}"></td>
                <td th:text="${#temporals.format(post.createdDateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${post.viewCount}"></td>

            </tr>
            </tbody>
        </table>
        <hr/>
        <a role="button" class="btn btn-outline-info" href="/posts/new" >글쓰기</a>
        <nav >
            <ul class="pagination justify-content-center"
                th:with="start= ${T(Math).floor(posts.number/10)*10 +1},
                            last = (${(posts.totalPages==0)?1: start + 9< posts.totalPages? start + 9: posts.totalPages})">
                <li  th:if="${start>1}" class="page-item">
                    <a class="page-link" th:text="<<" th:href="@{/(page=0)}"></a>
                </li>
                <li  th:if="${start>1}" class="page-item">
                    <a class="page-link" th:text="<" th:href="@{/(page=${start-10})}"></a>
                </li>
                <li class="page-item" th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == posts.number + 1}?'page-item active'">
                    <a class="page-link" th:text="${page}" th:href="@{/(page=${page})}"></a>
                </li>
                <li th:if="${last < posts.totalPages}">
                    <a th:href="@{/list?(page=${start + 10})}" th:text="'>'"></a>
                </li>

                <li th:if="${last < posts.totalPages}">
                    <a th:href="@{/list?(page=${posts.totalPages-1})}" th:text="'>>'"></a></li>
                </li>

            </ul>
        </nav>
    </div>
</div>
<div th:replace="fragments/footer :: footer" />
<script src = "/js/jquery.min.js"></script>
<script src = "/js/bootstrap.min.js"></script>
</body>
</html>